<!DOCTYPE html>
<html>

<head>
    <title>basic form</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="stylesheets/login.css">
</head>

<body style="background-color:rgb(211, 111, 18);">
   
        <div class="container-fluid ">
                <div class="imgcontainer">
                        <img src="images/chatbot.png" alt="Avatar" class="avatar">
                    </div>

        <form action="">
            

            <div class="container" style="text-align:center">
                <label >
                    <b>Username:</b>
                </label>
                <input type="text"  name="name" required>

                <label></label><br>
                    <b>Password:</b>
                </label>
                <input type="password" name="psw" required><br>

                <button class="btn btn-primary" type="submit">Login</button>
                
            </div>

            <div class="container">
                
                <span class="psw">
                    <a href="#"><strong>Forgot password?</strong> </a>
                </span>
            </div>
        </form>
    </div>

    </body>

</html>